<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="ProductForm">
    <h6 class="card-subtitle mr-3 mb-3">Product Information.</h6>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="productid">Product ID</label>
        <input
          type="text"
          class="form-control text-uppercase"
          id="productid"
          name="productid"
          placeholder="{{ productId }}"
          formControlName="productid"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="name">Name</label>
        <input
          [class.is-invalid]="
            (ProductForm.get('name').touched || submitted) &&
            ProductForm.get('name').errors?.required
          "
          type="text"
          class="form-control text-lowercase"
          id="name"
          name="name"
          formControlName="name"
        />
        <span
          *ngIf="
            (ProductForm.get('name').touched || submitted) &&
            ProductForm.get('name').errors?.required
          "
          id="makeErr"
          class="error"
          >Please enter product name</span
        >
      </div>
      <div class="col-md-6 mb-3">
        <label for="productimage">Image</label>
        <input type="text" class="form-control" id="productimage" />
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="description">Product Description</label>
        <textarea
          [class.is-invalid]="
            (ProductForm.get('description').touched || submitted) &&
            ProductForm.get('description').errors?.required
          "
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          rows="3"
        >
        </textarea>

        <span
          *ngIf="
            (ProductForm.get('description').touched || submitted) &&
            ProductForm.get('description').errors?.required
          "
          id="makeErr"
          class="error"
          >Please Enter Product Description</span
        >
      </div>
    </div>

    <hr />
    <h6 class="card-subtitle mr-3 mb-3">Pricing Information.</h6>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="productprice">Product Price</label>
        <input
          type="text"
          class="form-control"
          id="productprice"
          formControlName="productprice"
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="saleprice">Product Sale Price</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text" id="basic-addon1">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customSwitch1"
                />
                <label class="custom-control-label" for="customSwitch1"></label>
              </div>
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="saleprice"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <hr />
    <h6 class="card-subtitle mr-3 mb-3">Shipping Information.</h6>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="productweight"> Weight</label>
        <input
          type="text"
          class="form-control"
          id="productweight"
          formControlName="productweight"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="productdepth"> Depth</label>
        <input
          type="text"
          class="form-control"
          id="productdepth"
          formControlName="productdepth"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="productwidth"> Width</label>
        <input
          type="text"
          class="form-control"
          id="productwidth"
          formControlName="productwidth"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="productheight"> Height</label>
        <input
          type="text"
          class="form-control"
          id="productheight"
          formControlName="productheight"
        />
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="createPrd()">Add Product</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
